body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('../styles/background.jpg');
  font-family: Arial, sans-serif;
}

header {

  margin: auto;
  color: rgb(197, 190, 190);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: start;
  background-color: rgba(43, 88, 73, 0.158);
 
}

header h1{
  width: 70rem;
  margin:auto
}


main{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  margin: auto;
  margin-top: 1rem;
}

form{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70rem;
  margin:auto;
}


.btn-ajuste{
  max-height: 2.2rem;
}

.rs-input{
  border-radius: 6px 0 0 6px!important;
}

.calcula-lista {
 
  display:flex;
  justify-content:baseline;
  align-items: end;
  padding-right: 0 !important;
  margin-bottom:0.1rem;
  
}


.vidro {
  background-color: rgba(255, 255, 255, 0.178); /* Cor do vidro com transparência */
  backdrop-filter: blur(100px); /* Desfoque aplicado ao fundo */
  border: 1px solid rgba(255, 255, 255, 0.144); /* Borda com transparência para destacar o efeito de vidro */
  padding: 10px;
}

.footer {
  background-color: #f8f9fa71; /* Cor de fundo do footer */
  color: #0b0c0c; /* Cor do texto do footer */
}

.AjusteValor{
  float:right;
}

.AjusteMoeda{
  float:left;
}

.boardInsumos{

  margin-top: 1rem !important; 
  padding: 0.8rem;
  margin-left: 0.05rem !important;
  margin-right: 0.05rem !important;
  border-radius: 10px; 
  background-color: rgba(147, 149, 150, 0.164); 
  
}

.accordion-lista-insumos{
  background-color: #e1e3eb59 !important;
}



.produtos-calculados-container{
  background-color: rgba(147, 149, 150, 0.164); 
}

.radius-left{
   border-top-left-radius:6px ;
}

.radius-right{
  border-top-right-radius:6px ;
}
