*{
  padding: 0;
  margin:0;
}

html {
  height: 100%;
}

body {
  background-image: url('../styles/background.jpg');
  background-repeat:repeat;
  background-size: 100% 100%;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {

  margin: auto;
  color: rgb(197, 190, 190);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: start;
  background-color: rgba(43, 88, 73, 0.158);
  padding:1rem;
  width:100%
 
}

header h1{
  width: 70rem;
  margin:auto
}


main{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  max-width: 90%;
 
}

form{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:65rem;
  max-width: 95%;

}


.btn-ajuste{
  margin-top: 1rem;
  max-height: 2.2rem;
}

.rs-input{
  border-radius: 6px 0 0 6px!important;
}

.calcula-lista {
 
  display:flex;
  justify-content:baseline;
  align-items: end;
  padding-right: 0 !important;
  margin-bottom:0.1rem;
  
}


.footer {
  background-color: #f8f9fa71; /* Cor de fundo do footer */
  color: #0b0c0c; /* Cor do texto do footer */
}

.AjusteValor{
  float:right;
}

.AjusteMoeda{
  float:left;
}

.containerDefault{

  margin-top: 1rem !important; 
  padding:1rem 2rem;
  margin-left: 0.05rem !important;
  margin-right: 0.05rem !important;
  border-radius: 10px; 
  background-color: rgba(147, 149, 150, 0.164); 
  
}


.btn-container{
  display:flex;
  justify-content: space-between;

}

.radius-left{
   border-top-left-radius:6px ;
}

.radius-right{
  border-top-right-radius:6px ;
}


