*{
  padding: 0;
  margin:0;
}

html {
  height: 100%;
}

body {
  /* background-image: url('../styles/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; */


  background-image: url('../styles/background.jpg');
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
  max-height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center; 
  flex-direction: column;
}

header {
  margin: auto;
  color: rgb(197, 190, 190);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: start;
  background-color: rgba(43, 88, 73, 0.158);
  padding:1rem;
  width:100%
}

header h1{
  width: 70rem;
  margin:auto
}

main{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 70rem;
  max-width: 90%;
  padding-top:1rem;
  padding-bottom:2rem;
}

form{
  background-color: rgba(255, 255, 255, 0.856);
  padding:2rem 2rem;
  border-radius: 10px; 
  display:flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  width:65rem;
  max-width: 100%;
  max-height: 42rem; 
  overflow-x: auto;
  overflow-y: auto;
}

.container-criador-de-produto{
  max-width: -webkit-fill-available;
  display:flex;
  justify-content: center;
  flex-direction:row;
  padding:2rem;
  margin:0rem 1rem 1rem 1rem;
  border-radius: 10px; 
  background-color: rgba(147, 149, 150, 0.164); 

}

.btn-ajuste{
  margin-top: 1rem;
  max-height: 2.2rem;
}

.header-listaInsumos{
  width: 55rem;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#h4TextoAddInsumos{
   display:flex;
}

.header-listaInsumos button{
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 1.9rem;
    height:1.9rem;
    background: transparent;
    outline:none;
    border: none;
}

.container-insumos{
  max-width: -webkit-fill-available;
  display:flex;
  justify-content: center;
  padding:2rem;
  margin:0rem 1rem 1rem 1rem;
  border-radius: 10px; 
  background-color: rgba(147, 149, 150, 0.164); 
}

.container-add-insumos{
  max-width: -webkit-fill-available;
}

.lista-adicionados{
  padding-right: 0px;
  margin-right: 0px;
  width: 56rem !important;
  max-width: -webkit-fill-available;
}

.divInsumosLista{
  overflow-x: auto;
  max-width: 97.2%;
  border-top-left-radius: 10px ;
}

.divProdutosPrecificados{
  overflow-x: auto;
  max-width: 100%;
  border-top-left-radius: 10px ;
}
#btnCalcularProduto{
  margin-right: 1.4rem;
}

.ajuste-table-adicionados{
  width: 52rem;
} 

.ajuste-table-calculados{
  width: 52rem;
}
  



.rs-input{
  border-radius: 6px 0 0 6px!important;
}

.calcula-lista {
 
  display:flex;
  justify-content:baseline;
  align-items: end;  
}


.footer {
  background-color: #f8f9fa71; /* Cor de fundo do footer */
  color: #0b0c0c; /* Cor do texto do footer */
}

.AjusteValor{
  float:right;
}

.AjusteMoeda{
  float:left;
}


.table-adicionados{

  margin-left:0.2rem;
}


.btn-container{
  margin: 0.1rem;
  display: flex;
  justify-content: end;


}

.radius-left{
   border-top-left-radius:6px ;
}

.radius-right{
  border-top-right-radius:6px ;
}

.header-listaInsumos button:hover{
  padding: 0.2rem;
  border-radius: 10px;
  background: rgba(174, 250, 174, 0.795);
}

 .scrollable::-webkit-scrollbar {
  display: none; 
}

.scrollable {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} 






